{% extends "::base.html.twig" %}

{% block title %}Porównywarka Dinozaurów{% endblock %}

{% block body %}
    {% block topPanel %}
    {% endblock %}
    <div id="topPanel">
        <a href="{{ asset("selectDino") }}">Nowe porównanie</a>
    </div>
    <div class="col-md-12"><h1 style="text-align: center; font-size: 300%">Porównywarka Dinozaurów</h1></div>
    <table id="dinoTable" class="col-md-12">
        <th style="font-size: 280%">{{ firstDino.name }}</th>
        <th style="font-size: 280%">{{ secondDino.name }}</th>
        <tr>
            <td class="dinoPhoto"><img src="{{ firstDino.webPath }}" width="460" height="310" class="wrapper"></td>
            <td class="dinoPhoto"><img src="{{ secondDino.webPath }}" width="460" height="310" class="wrapper"></td>
        </tr>
    </table>
    {#{{ graphicPresentation }}#}
        {#---------------------------------------------------------------------------------------------------#}
    <table id="dinoTable" class="col-md-12" style="border-spacing: 22px;">
        <tr id="weight">
            <td class="firstDinoRow">
                {% if firstDino.weight+secondDino.weight < 1000 %}
                    {% set mediana = (((firstDino.weight + secondDino.weight) / 10)|round(0, 'ceil')) * 10 %}
                {% else %}
                    {% set mediana = (((firstDino.weight + secondDino.weight) / 1000)|round(0, 'ceil')) * 1000 %}
                {% endif %}
                {% set graphicPresentation = ((mediana - firstDino.weight) * 100) / mediana %}
                <div style="padding-bottom: 10px; font-size: 25px">{{ firstDino.weight }} kg.</div>
                <div class="progress180">
                    <div class="progress-bar180" percentValue="{{ graphicPresentation }}">
                    </div>
                </div>
                {% block progressBarLeftWeight %}
                    {{ parent() }}
                {% endblock %}
            </td>
            <td style="font-size: 100%">
                <img src="" width="40" style="position: relative; right: 60px " class="leftCup">
                <span style="position: relative; left: 0px;">Waga</span>
                <img src="" width="40" style="position: relative; left: 60px" class="rightCup">
            </td>
            {% set graphicPresentation = (secondDino.weight * 100) / mediana %}
            <td>
                <div style="padding-bottom: 10px; font-size: 25px">{{ secondDino.weight }} kg.</div>
                <div class="progres">
                    <div class="progres-bar" percentValue="{{ graphicPresentation }}">
                        <span class="sr-only">70% Complete</span>
                    </div>
                </div>
                {% block progressBarRighttWeight %}
                    {{ parent() }}
                {% endblock %}
            </td>
        </tr>

        {#---------------------------------------------------------------------------------------------------#}


        <tr id="lenght">
            <td class="firstDinoRow">
                {% set mediana = (((firstDino.lenght + secondDino.lenght) / 2)|round(0, 'ceil'))*2 %}
                {% set graphicPresentation = ((mediana - firstDino.lenght) * 100) / mediana %}

                <div style="padding-bottom: 10px; font-size: 25px">{{ firstDino.lenght }} m.</div>
                <div class="progress180">
                    <div class="progress-bar180" percentValue="{{ graphicPresentation }}">
                    </div>
                </div>
                {% block progressBarLeftLenght %}
                    {{ parent() }}
                {% endblock %}
            </td>
            <td style="font-size: 100%">
                <img src="" width="40" style="position: relative; right: 60px " class="leftCup">
                <span style="position: relative; left: 0px;">Dlugosc</span>
                <img src="" width="40" style="position: relative; left: 60px" class="rightCup">
            </td>
            {% set graphicPresentation = (secondDino.lenght * 100) / mediana %}
            <td>
                <div style="padding-bottom: 10px; font-size: 25px">{{ secondDino.lenght }} m.</div>
                <div class="progres">
                    <div class="progres-bar" percentValue="{{ graphicPresentation }}">
                        <span class="sr-only">70% Complete</span>
                    </div>
                </div>
                {% block progressBarRightLenght %}
                    {{ parent() }}
                {% endblock %}

            </td>
        </tr>

        {#---------------------------------------------------------------------------------------------------#}

        <tr id="height">
            <td class="firstDinoRow">
                {% set mediana = (((firstDino.height + secondDino.height) / 2)|round(0, 'ceil'))*2 %}
                {% set graphicPresentation = ((mediana - firstDino.height) * 100) / mediana %}
                <div style="padding-bottom: 10px; font-size: 25px">{{ firstDino.height }} m.</div>
                <div class="progress180">
                    <div class="progress-bar180" percentValue="{{ graphicPresentation }}">
                    </div>
                </div>
                {% block progressBarLeftHeight %}
                    {{ parent() }}
                {% endblock %}
            </td>
            <td style="font-size: 100%">
                <img src="" width="40" style="position: relative; right: 60px " class="leftCup">
                <span style="position: relative; left: 0px;">Wysokosc</span>
                <img src="" width="40" style="position: relative; left: 60px" class="rightCup">
            </td>
            {% set graphicPresentation = (secondDino.height * 100) / mediana %}
            <td>
                <div style="padding-bottom: 10px; font-size: 25px">{{ secondDino.height }} m.</div>
                <div class="progres">
                    <div class="progres-bar" percentValue="{{ graphicPresentation }}">
                        <span class="sr-only">70% Complete</span>
                    </div>
                </div>
                {% block progressBarRightHeight %}
                    {{ parent() }}
                {% endblock %}
            </td>
        </tr>
        <tr>
            <td class="firstDinoRow">
                <div style="padding-bottom: 10px; font-size: 25px">{{ firstDino.discoverYear }} r.</div>
            </td>
            <td>Rok odkrycia</td>
            <td>
                <div style="padding-bottom: 10px; font-size: 25px">{{ secondDino.discoverYear }} r.</div>
            </td>
        </tr>
        <tr>
            <td class="firstDinoRow">
                <div style="padding-bottom: 10px; font-size: 25px">{{ firstDino.foodType.name }}</div>
            </td>
            <td>Typ</td>
            <td>
                <div style="padding-bottom: 10px; font-size: 25px">{{ secondDino.foodType.name }}</div>
            </td>
        </tr>
        <tr>
            <td class="firstDinoRow">
                <div style="padding-bottom: 10px; font-size: 25px">{{ firstDino.period.name }}</div>
            </td>
            <td>Okres</td>
            <td>
                <div style="padding-bottom: 10px; font-size: 25px">{{ secondDino.period.name }}</div>
            </td>
        </tr>
        <tr>
            <td class="firstDinoRow">
                <div style="padding-bottom: 10px; font-size: 25px">{{ firstDino.dinoOrder.name }}</div>
            </td>
            <td>Rząd</td>
            <td>
                <div style="padding-bottom: 10px; font-size: 25px">{{ secondDino.dinoOrder.name }}</div>
            </td>
        </tr>
        <tr>
            <td class="firstDinoRow">
                <div style="padding-bottom: 10px; font-size: 25px">{{ firstDino.dinoSuborder.name }}</div>
            </td>
            <td>Podrząd</td>
            <td>
                <div style="padding-bottom: 10px; font-size: 25px">{{ secondDino.dinoSuborder.name }}</div>
            </td>
        </tr>
    </table>
{% endblock %}
