{% extends "::base.html.twig" %}

{% block title %}Por贸wnywarka Dinozaur贸w{% endblock %}

{% block body %}
    {% block topPanel %}
    {% endblock %}
    <h1>Nowe por贸wnanie</h1>
    <div>
        <h2>Wybierz dinozaury z listy</h2>
        <p>Wybierz dinozaura nr 1</p>
        <form method="post" action="{{ path('compare')}}">
            <select name="dinosaur">
                {% if dino1 is not null %}
                    <option value="{{ dino1.id }}">
                        {{ dino1.name }}
                    </option>
                {% else %}
                {% for dino in dinos %}
                    <option value="{{ dino.id }}">
                        {{ dino.name }}
                    </option>
                {% endfor %}
                {% endif %}
            </select>

        <a href="{{ path('graphic', {'id':1})}}">Wybierz...</a>
        <p>Wybierz dinozaura nr 2</p>

            <select name="dinosaur1">
                {% if dino2 is not null %}
                    <option value="{{ dino2.id }}">
                        {{ dino2.name }}
                    </option>
                {% else %}
                {% for dino in dinos %}
                    <option value="{{ dino.id }}">
                        {{ dino.name }}
                    </option>
                {% endfor %}
                {% endif %}
            </select>
            <a href="{{ path('graphic', {'id':2})}}">Wybierz...</a>
            <p><input type="submit" value="Por贸wnaj"></p>
        </form>
    </div>
{% endblock %}